/* mobile first */
.grid-container {
  /* display: grid; */
  height: 90vh;
  grid-template-columns: 850px;
  grid-template-rows: 150px 1fr 50px;
  grid-template-areas:
    "hd"
    "sd"
    "main"
    "ft";
}

.box {
  border: 1px solid blue;
}

.header {
  grid-area: hd;
}

.sidebar {
  grid-area: sd;
}

.content {
  grid-area: main;
}

.footer {
  grid-area: ft;
}

header h1 {
  font-family: "Comfortaa", cursive;
}

.project-gallery-container {
  display: flex;
  flex-flow: row wrap;
  /* align-items: center; */
  justify-content: space-evenly;
  border: 2px solid yellow;
}

.card {
  width: 250px;
  height: 150px;
  border: 1px solid red;
}

@media (min-width: 600px) and (max-width: 1100px) {
  .grid-container {
    display: grid;
    grid-template-columns: 100px 300px 300px;
    grid-template-rows: 150px 1fr 50px;
    grid-template-areas:
      "hd hd hd hd hd hd hd hd"
      "sd main main main main main main main"
      "ft ft ft ft ft ft ft ft";
    border: 2px solid aquamarine;
  }
}

@media (min-width: 1101px) {
  .grid-container {
    display: grid;
    grid-template-columns: 200px 300px 300px;
    grid-template-rows: 150px 1fr 50px;
    grid-template-areas:
      "hd hd hd hd hd hd hd hd"
      "sd main main main main main main main"
      "ft ft ft ft ft ft ft ft";
    border: 2px solid purple;
  }
}
